*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url(img/cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 10vh;
    padding-left: 60px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header i{
    color: #fff;
    font-size: 22px;
}
header ul{
    list-style: none;
    margin: 40px;
}
header ul li{
    display: inline;
    padding: 50px 15px ;
    text-transform: uppercase;
    font-size: 18px;
}
header a{
    text-decoration: none;
    color: #fff;
}
section{
    height: 90vh;
    padding-left: 80px;
}
section h1{
    color: #fff;
    text-transform: capitalize;
    font-size: 130px;
    line-height: 110px;
    padding-top: 60px;
    user-select: none;
}
section p{
    color: #fff;
    font-size: 22px;
    padding-top: 30px;
}
section button{
    border: 0;
    background-color: pink;
    color: #fff;
    padding: 15px 40px;
    border-radius: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}
.bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}
.bottom::before{
    content: " + ";
    color: #000;
    top: -50px;
    left: 0;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.box{
    background-color: #fff;
    padding: 40px 80px;
    text-transform: uppercase;
}
.box.days{
    background-color: pink;
}
.box h3{
    color: #000;
    font-size: 18px;
}
.box p{
    color: rgb(96,96,96);
    padding-top: 0;
    font-size: 18px;
}
@media screen and (max-width:1000px) and (min-width:750px){
    section h1{
        font-size: 100px;
        line-height: 80px;
        padding-top: 100px;
    }
}
@media screen and (max-width:750px) {
    header{
        padding-left: 60px;
    }
    header ul li{
        padding: 50px 0px;
        display: none;
    }
    section{
        padding-left: 50px;
    }
    section h1{
        font-size: 80px;
        line-height: 70px;
        padding-top: 150px;
    }
    .box{
        background-color: #fff;
        padding: 25px 30px;
    }
}